@model VTS.Web.Models.LogInModel

@section Styles {
<link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

@{
ViewData["Title"] = "Login";
}

@section Header {}

<div class="login-form pt-5">
	<h2>Залогіньтесь, щоб продовжити</h2>

	<form asp-action="LogIn" method="post" class="mt-5 mb-5 pb-5">
		<div class="form-stuff mb-5">
			<div class="d-flex flex-column mb-3">
				<label asp-for="Id" class="ml-2">ID працівника</label>
				<input asp-for="Id" class="pl-3 mb-1" />
				<span asp-validation-for="Id" class="field-validation-error">
					@{if (ViewBag.Error != null)
							@ViewBag.Error
					}
				</span>
			</div>
			<div class="d-flex flex-column mb-3">
				<label asp-for="Email" class="ml-2">Емейл</label>
				<input asp-for="Email" class="pl-3 mb-1" />
				<span asp-validation-for="Email" class="field-validation-error">
					@{if (ViewBag.Error != null)
							@ViewBag.Error
					}
				</span>
			</div>
		</div>
		<button type="submit"><span>Логін</span></button>
	</form>
</div>