@model VTS.Core.DTO.Employee

<div class="manager-label d-flex align-items-center justify-content-center mb-4 wow fadeInLeft" data-wow-duration="1s">
    <p class="mb-0 py-3">
        Ваш менеджер:
        <span>@Model.Manager.Head.User.LastName @Model.Manager.Head.User.FirstName</span>
        <br />
        Електронна пошта: <span>@Model.Manager.Head.User.Email</span>
    </p>
</div>