//colors
$background_fill: rgba(27, 29, 34, .85);
$background_fill_darker: rgba(24, 26, 31, .85);
$block_info_fill: rgba(0, 146, 209, .7);
$edit_button_fill: rgba(196, 196, 196, 0.25);
$edit_button_fill_hover: rgba(17, 17, 17, 0.9);

//fonts
$second_font: 'Roboto Slab', serif;