//strings
$image_dir: '../img/';

@mixin body_background ($position_value, $background_fill, $size_value: cover)
{
  background: linear-gradient(to bottom, $background_fill, $background_fill), url($image_dir + 'Company (blurred)-min.png');
  background-repeat: no-repeat;
  background-position: $position_value;
  background-size: $size_value;
}

%header_info_block
{
	height: auto;
	
	h2 {
		font-size: 2.25rem;
		font-family: $second_font;
		font-weight: bold;
	}
}