@import "_const.scss";
@import "background.scss";

//colors
$vacation_number: rgba(237, 33, 33, 0.9);
$gray: rgba(70, 70, 70, 0.9);

%bold_roboto_slab {
  font-family: $second_font;
  font-weight: bold;
}

body {
	@include body_background(center bottom, $background_fill_darker, auto);
}

input {
  border-radius: .1875rem;
  outline: none;
}	

textarea {
	width: 100%;
	min-height: 10rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  color: $gray;
  font-size: 0.9375rem;
}

.info-block {
	position: relative;
	min-height: 35vh;
	overflow: hidden;

	@extend %header_info_block;

	p {
		background: $block_info_fill;
		border-radius: 0.1875rem;
		font-size: 1.1rem;
	}

	span.skewed {
		position: absolute;
		bottom: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		transform-origin: top left;
	}
}

.main-content {
	height: auto;
	min-height: 70vh;
	background: white; 
}

.main-block {
  width: 100%;
  max-width: 68.75rem;
  margin-bottom: 4rem;
}

.policy-butt {
	color: black;
	background: $edit_button_fill;
	border: none;
	border-left: 0.5rem solid $block_info_fill;

  border-radius: 0.2rem;
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;

  &:hover {
  	color: white;
  	background: $edit_button_fill_hover;
  }

  &:focus {
  	outline: none;
  }
}

.field-validation-error.validation-summary-errors {
	font-size: 1rem;
	
	li {
		list-style-type: none;
	}
}

.block-bg {
	color: white;
  border-radius: 0.2rem;
  min-height: 30rem;
  background: rgba(27, 29, 34, 0.85);
}

.count {
	@extend %bold_roboto_slab;
	font-size: 1.1rem;
	color: $vacation_number;
}

.footer {
	background-color: black;
}

@media (max-width: 768px)
{
  .info-block {
    span.skewed {
    	display: none;
    }
  }
}