//fonts
$second_font: 'Roboto Slab', serif;

//colors
$box_shadow_profile_img: rgba(255, 255, 255, 0.4);
$role_fill: rgba(0, 120, 220, .95);
$background_fill: rgba(27, 29, 34, .7);
$submit_fill: rgb(20, 20, 20);
$vacation_number: rgba(237, 33, 33, 0.9);

%bold_roboto_slab
{
    font-family: $second_font;
    font-weight: bold;
}

input {
	border-radius: 0.2rem;
	border: none;
}

h3
{
    @extend %bold_roboto_slab;
    font-size: 1.625rem;
    text-align: center;
}

.container-profile {
	max-width: 75rem;
	margin: 0 auto;
	margin-bottom: 6.25rem;
}

.profile-info-block {
	height: auto;
	min-height: 27rem;
	padding-left: 6%;
	padding-right: 7%;
	background: $background_fill;
}

.user-info {
	font-family: $second_font;
}

.profile-img {
	width: 6.25rem;
	height: 6.25rem;
	border-radius: 50%;

	animation: border_animate 2s ease-in-out alternate infinite;
}
@keyframes border_animate {
  0% {
    box-shadow: 0rem 0rem 0rem $box_shadow_profile_img;
  }
  100% {
    box-shadow: 0rem 0rem 0.4rem $box_shadow_profile_img;
  }
}

.blue {
	color: $role_fill; 
}

.text-start-center {
	text-align: start;

	@media (max-width: 576px) {
		text-align: center;
	}
}

.profile-button {
	background: transparent;
	text-align: center;
	border: none;
	position: relative;

	&:focus {
		outline: none;
	}

	&::before {
	transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	content: '';
	width: 60%;
	height: 100%;
	background:  $submit_fill;
	border-radius: 0.2rem;
	position: absolute;
	top: 0;
	left: 0;
	}
	
	& span {
		color: white;
		mix-blend-mode: difference;
	}

	&:hover {
		&::before
		{
				background: $submit_fill;
				width: 100%;
		}
	}
}

.vac-info {
		margin-top: 5rem;

		p 
		{
			font-size: 1.1rem;

			span {
				@extend %bold_roboto_slab;
				font-size: 1.3rem;
				color: $vacation_number;
			}
		}
}

@media (max-width: 576px) {
	.profile-img {
		width: 25%;
		height: 25%;
	}
	.vac-info p {
		font-size: 1rem;
	}
}