@import "_const.scss";
@import "background.scss";

//colors
$edit_button_fill: rgba(196, 196, 196, 0.25);
$edit_button_fill_hover: rgba(17, 17, 17, 0.9);

body {
	@include body_background(center bottom, $background_fill_darker, auto);
}

.info-block {
	min-height: 22vh;
	
	@extend %header_info_block;
}

.main-content {
	height: auto;
	min-height: 78vh;
	background: white; 
}

.users-list-block {
  width: 100%;
  max-width: 68.75rem;
  min-height: 25rem;
  margin-bottom: 4rem;
  border-radius: 0.2rem;
  background: rgba(27, 29, 34, 0.85);

	fieldset > p {
		background: $block_info_fill;
		color: white;
		border-radius: 0.1875rem;
		font-size: 1.07rem;
	}

	fieldset input {
		width: 100%;
		height: 2.2rem;
		border: 0.0625rem solid black;
		border-radius: 0.1875rem;
		outline: 0;
	}
}

.liveSearchItem {
  background: $background_fill_darker;
  color: white;
  border-radius: 0.1875rem;

  span {
  	font-weight: bold;
  	font-size: 1.1rem;
  }
}

.edit-button, .butt, .close-button {
	color: white;
	background: $edit_button_fill;
	border: none;

  border-radius: 0.2rem;
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;

  &:hover {
  	background: $edit_button_fill_hover;
  }

  &:focus {
  	outline: none;
  }
}

.butt.white {
    background: white;
    color: black;

		&:hover {
		    color: white;
        background: $edit_button_fill_hover;
		}
}

#hidden-field {
    display: none;
}

.footer {
	background-color: black;
}